body {
    margin-top: 50px;
    background-color: #fcfcfc;
}

.header {
    margin-bottom: 4rem;
    text-align: center;
}

table {
    margin-top: 2rem;
}

/* Estil per a la descripció petita sota el títol */
.movie-desc {
    font-size: 0.8em;
    color: #666;
    display: block;
}

/* Botó d'eliminar en vermell */
.btn-delete {
    color: #d9534f;
    border-color: #d9534f;
}

.btn-delete:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
